@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

html {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  max-width: 100vw !important;
  text-align: justify;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body, .App {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  max-width: 100vw !important;
  text-align: justify;
  background-color: #ffffff;
  font-family: 'Quicksand';
}